* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: serif,"sans-serif";
    background-color: #fff8f8;
}

header>img {
    width: 16%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;


}


nav {
    background-color: gray;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;

}

nav ul {
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 11px;
    font-size: 20px;
    margin: 0px 20px;
}

nav a:hover {
    color: black;
    background-color: whitesmoke;
}

section#about {

    margin: 30px 0px 20px 0px;
}

#about h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bacasime Antique', serif;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 3px 5px 12px red;
}

#about p {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
}

#about article p::first-letter {
    font-size: 2.5rem;
    color: gray;
    font-style: italic;
}

article img {
    width: 73%;
    object-fit: contain;


}

.main-box {
    width: 100%;
}

.maine-content {
    display: flex;

    text-align: center;
    margin-top: 48px;
    margin-bottom: 2rem;
}

.maine-content article p {
    width: 50%;
    padding-bottom: 8px;
    display: block;
    margin: auto;
}

.contain-padding {
    padding: 10px 0px 11px 0px;
    font-family: 'Headland One', serif;
}

.main-shadow:hover {
    box-shadow: 7px 10px 6px 5px rgb(139, 139, 156);
}

.box-border {
    background-color: #e9dac7;

    margin-right: 15px;
    margin-left: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 20px;
}

article a:hover {
    font-size: 20px;

}

article a:link {
    color: blue;

}

article a:visited {
    color: green;
}

article a:hover {
    color: rgb(88, 88, 112);
}

article a:active {
    color: red;
}

footer img {
    width: 11rem;
    object-fit: contain;

}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px 20px 10px;
    background-color: rgb(248, 124, 184,-0.2);

}

